
@{
    ViewData["Title"] = "VerifyAccount";
}

<h1>VerifyAccount</h1>


<div class="alert alert-success">
    <strong>Success!</strong><br/>
    Your email has been successfully verified.<br?>
    Click here to @Html.ActionLink("Login", "Login", "User");
</div>
